<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="UTF-8">
        <title><%= _.humanize(appName) %></title>
    </head>
    <body>
        <div id="applicationContainer" ng-app="application-component" ng-strict-di="true">
            <ui-view name="page"></ui-view>
        </div>

        <script src="jspm_packages/system.src.js"></script>
        <script>
            System.config({
                baseURL: '/'
            });
        </script>
        <script src="config/system.js"></script>
        <script>
            System['import']('index')['catch'](console.error.bind(console));
        </script>
    </body>
</html>
