<!DOCTYPE html>
<html>
    <head>
        <base href="/">
        <meta charset="UTF-8">
        <title><%= _.humanize(appName) %></title>
    </head>
    <body>
        <div id="applicationContainer"></div>

        <script src="jspm_packages/system.src.js"></script>
        <script>
            System.config({
                baseURL: '/'
            });
        </script>
        <script src="config/system.js"></script>
        <script>
            System.import('index').catch(console.error.bind(console));
        </script>
    </body>
</html>
