<% if(bootstrapCss) { %>/**
TODO: By default the whole bootstrap framework is imported. But you also have the possibility to only import the grid
"bootstrap/grid" and it's dependencies if you only want to use this for example.
*/
@import "bootstrap";

<% } %>body {
  font-family: sans-serif;
  padding: 20px;
}
